@model HomeDetailsViewModel
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
<p>
    Visa detaljer för objekt nmr: @Model.index
</p>
<p>
    @foreach (Home h in Model.Homes)
    {
        @(h.OwnershipType is null ? "abo" : h.OwnershipType.Name)
    }
</p>
