@model HomeDetailsViewModel
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
<p>
    Visa detaljer för objekt nmr: @Model.Index
</p>
<p>
    @foreach (Home h in Model.Homes)
    {
        @h.OwnershipType
    }
</p>
