@model HomeIndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
    <ul>
        @foreach (Home h in Model.Homes)
        {
            <li>
                @h.Street
            </li>
            <li>
                @h.Price
            </li>
            <li>
                @(h.User is null ? "no mäklare" : h.User.UserName)
            </li>
            <li>
                @(h.Municipality is null ? "no mäklare" : h.Municipality.Name)
            </li>
        }
    </ul>
    
</div>
