@model IEnumerable<Hittahem.Mvc.Models.Home>

@{
    ViewData["Title"] = "Index";
}

<h1>Hem till salu</h1>

<div class="row">
    @foreach (var home in Model)
    {
        <div class="col-8">
            <div class="card card-index">
                <a class="a-card-index" asp-controller="Advertisement" asp-action="Details" asp-route-id="@home.Id">
                    <img src="~/lib/Image/Husbild.jpg" class="card-img-top card-img">
                    <div class="row">
                        <div class="card-body col-6">
                        <h7 class="mb-3">@home.Adress</h7>
                    </div>
                    <div class="card-body col-6">
                        <span class="card-text">@home.Price.ToString("c")</span>
                    </div>
                    <div class="card-body col-6">
                        <span class="card-text">@home.HousingType</span>
                    </div>
                    </div>
                    
                </a>
            </div>
        </div>
    }
</div>
