html {
    font-size: 16px;
}

.navbar-light .navbar-nav .nav-link {
    font-size: 20px;
    color: #783937FF;
}
.logga {
    width: 20px;
}

@media (min-width: 768px) {
    html {
        font-size: 20px;
    }

    nav-item {
        align-items: end;
    }

    .navbar-light .navbar-nav .nav-link {
        font-size: 20px;
        color: #783937FF;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: Georgia;
    text-align: center;
}

.search-container {
    border: solid;
    border-color: #783937FF;
    border-radius: 1rem;
}

.text-header {
    color: #783937FF;
}

/*Använd för att styla knappar med färg i*/
.btn-home {
    color: #fff;
    width: 9rem;
    background-color: #783937FF;
    border-color: #783937FF;
    border-radius: 1rem;
    padding-left: 1rem;
}

/*Använd för att styla knappar med färg runt*/
.btn-home-line {
    border-color: #783937FF;
    border-radius: 1rem;
    padding-left: 1rem;
}

.img-frontpage {
    height: auto;
    visibility: hidden;
}

.img-house {
    max-width: 50rem;
    visibility: hidden;
}

@media (min-width: 768px) {
    .img-frontpage {
        visibility: visible;
    }
    .img-house {
        visibility: visible;
        max-width: 40rem;
    }
}